body {
  background-color: white;
}

.CardLink{
  display:block;
  color: #666;
  text-shadow: 0 2px 0 #efefef;
  text-decoration: none;
  height: 2.75rem;
  line-height:2.75rem;
  border-bottom: 1px sold #bbb;
  position: relative;
}

.CardLink_Hearts:before{
  content:"lo";
}
